.dark-mode{
    background-color: darken($grisOscuro, 10);

    p, a, h1, h2, h3, h4, blockquote{
        color: $blanco;
    }
    

    .anuncio{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .precio{
            color: $verde;
        }
        .icono{
            filter: invert(100%);
        }
    }

    .resumen-propiedad, .iconos-caracteristicas{
        .icono{
            filter: invert(100%);
        }
        .precio{
            color: $verde;
        }

    }

    .formulario{
        label, legend, p{
            color: darken($blanco, 2);
        }
        input:not([type="submit"]),
        textarea, select{
            background-color: lighten($grisOscuro, 5);
            color: $blanco;
            border: 1px solid darken($grisOscuro, 10);
        }
    }
}
